.cui textarea.telemetry-output {
    width: 100%;
    font-family: monospace;
}
.grpc-config table, td {
    border: 1px solid black;
    padding-inline: 5px;
}

.grpc-output pre {
    background: #fff;
    padding: 5px;
    margin: 10px;
    overflow-x: auto;
    border: 1px solid #049fd9;  /* Cisco-UI-Kit "Cisco Blue" */
    /* Improve contrast over Cisco-UI-Kit defaults */
    color: #000;
}
